html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.main {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image:url("https://i.gifer.com/Up2T.gif" );
    background-size: cover;
    filter: blur(8px);
    background-position-y : 50%;
    background-position-x : 50%;
    }


    .player {
        background-color : rgba(237, 165, 214, 0.5);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 350px;
        width: 300px;
        border-radius : 25px;
        overflow: hidden;
        box-shadow: 4px 10px 10px
        }



        .row1 {
            height: 40%;
            width: 100%;
            
            background-image:url('https://i.gifer.com/Up2T.gif');
            background-size: cover;
            background-position-y: 35%;
            }
            #songTitle {
            width: 100%;
            height: 10%;
            text-align: center;
            font-family: monospace;
            font-size: 18px;
            color: purple;
            }



            .row2 {
                width: 100%;
                height: 50%;
                background-color:
                rgba(216, 188, 224, 0.442);
                
                }


                .play {
                    width: 100%;
                    height: 20%;
                    justify-content : space-evenly;
                    align-items: center;
                    display: flex;
                    }



                    #pre {
                        height: 25px;
                        width: 25px;
                        background-size : cover;
                        margin-top: 20px;
                        }
                        #next {
                        height: 25px;
                        width: 25px;
                        background-size : cover;
                        margin-top: 20px;
                        }

                        #play {
                            height: 35px;
                            width: 35px;
                            background-size : cover;
                            margin-top: 20px;
                            }

                            .seek-bar {
                                height: 40%;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                }

                                .handle {
                                    width: 80%;
                                    height: 5px;
                                    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
                                    border-radius: 25px;
                                    }

                                    #fill {
                                        height: 8px;
                                        width: 1px;
                                        border-radius: 25px;
                                        background-color: lightblue;
                                        z-index: 999;
                                        margin-top: -1.5px;
                                        margin-left: -1.5px;
                                        
                                        }


                                        #currentTime {
                                            width: 50%;
                                            height: 100%;
                                            margin-left: 35px;
                                            margin-top: -25px;
                                            color: purple;
                                            }
                                    
                                            .mute {
                                                height: 40%;
                                                width: 100%;
                                                justify-content : space-between;
                                                align-items: center;
                                                display: flex;
                                                }

                                                .muteButtons {
                                                    width: 50%;
                                                    height: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: flex-end;
                                                    margin-right: 10px;
                                                    }


                                                    #increase {
                                                        height: 15px;
                                                        width: 15px;
                                                        background-size: cover;
                                                        margin: 5px;
                                                        }
                                                        
                                                        #mute {
                                                        height: 30px;
                                                        width: 30px;
                                                        background-size: cover;
                                                        margin: 5px;
                                                        }

                                                        #decrease {
height: 15px;
width: 15px;
background-size: cover;
margin: 5px;
}

.player {
    background: linear-gradient(311deg, #466624, #246665, #66245f, #243e66, #662436);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    -o-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@keyframes AnimationName {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}